.navbar{
    height:60px;
    background-color: #0f1111;
    color:white;
    display:flex;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
.nav-logo{
    height:50px;
    width:100px;
}
.logo{
    background-image: url("./Resources/amazon_logo.png");
    background-size: cover;
    height:50px;
    width:100%;
}
/*box 2*/
.address-icon
{
    display:flex;
    align-items: center;
}
.add-1{
    font-size: 0.8rem;
    color:#cccccc;
    margin-left: 15px;
}
.add-2{
    font-size:1rem;
    color:#ffffff;
    margin-left: 4px;
}
/* box3 */
.nav-search{
    display:flex;
    justify-content: space-evenly;
    height:40px;
    width:620px;
    border-radius: 5px;
    border:2px solid transparent;
}
.nav-search:hover{
    border:2px solid rgb(235, 178, 71)
}
.search-select{
    background-color:#E6E6E6 ;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
    width:55px;
}
.search-text{
    width:100%;
    border:none;
    font-size: 1rem;
}
.search-icon{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width:55px;
    background-color: #ffcabd;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px ;
    color:#0f1111
}
/*box 4*/
.nav-lang{
    display:flex;
}
.lang-flag{
    background-image: url("./Resources/us_flag.png");
    background-size: cover;
    height:18px;
    width:24px;
}
.select-lang{
    border:none;
    background: transparent;
    color:white;
}
/*box 5*/

span{
    font-size: 0.7rem;
}
.select-accounts{
    border:none;
    background: transparent;
    color:#ffffff;
}
.second{
    font-size: 0.85rem;
    font-weight: 700;
}

/*box 6 cart*/
.nav-cart i{
    font-size:30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/*Panel*/
.panel{
    background-color:#222f3d;
    height:40px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    color:white;
}
.panel-ops p{
    display:inline;
    margin:15px;
}
.panel-ops{
    width:70%;    
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight:700;
}
/*Hero Section*/
.hero-section{
    background-image: url("./Resources/hero_section.jpg");
    background-size: cover;
    height:350px;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    font-size: 0.85rem;
    background-color: white;
    color:black;
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:80%;
    margin-bottom: 30px;

}
.hero-section a{
    color:#007185;
}

/*Shop section*/
.shop-section{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:#A4B9B7 ;
}
.box{
    border:1px solid black;
    height:410px;
    width:22%;
    background-color: white;
    margin:15px;
}
.box-img{
    background-size: cover;
    height:300px;
    margin:1rem 0;
}
.box-content{
    margin:1rem 1.5rem;
}

.box-content p{
    color:#007185;
    font-size:0.8rem;
}

/*footer*/
footer{
    margin-top: 15px;
}
.footer-panel1{
    background-color: #37475A;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:0.8rem;
}
.footer-panel2{
    background-color: #232F3E;
    height:300px;
    color:white;
    display:flex;
    justify-content: space-evenly;

}
ul{
    margin:30px;
}
ul a{
    display:block;
    color:#dddddd;
    margin:10px;
    font-size: 0.85rem;
}

.foot-panel3{
    background-color: #232F3E;
    color:white;
    border-top:0.3px solid #dddddd;
    height:68px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo{
    background-image: url("./Resources/amazon_logo.png");
    background-size: cover;
    height:50px;
    width:100px;
}

.foot-panel4{
    background-color: #131A22;
    height:80px;
    color:white;
    font-size: 0.75rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pages a{
    text-decoration: none;
    color:white;
    margin:7px;
}
.copyright{
    padding-top: 5px;
}